    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">{{ site.title }}</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li {% if page.url == "/" %}class="active"{% endif %}><a href="/">Home</a></li>
              <li {% if page.url == "/documentation.html" %}class="active"{% endif %}><a href="/documentation.html">Documentation</a></li>
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown">Tutorials <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/tutorials/1ch.html">Getting Started</a></li>
                    <li><a href="/tutorials/2ch.html">Managing Topologies</a></li>
                    <li><a href="/tutorials/3ch.html">Getting to know Processes</a></li>
                    <li><a href="/tutorials/4ch.html">Managed (Generic) Processes</a></li>
                    <li><a href="/tutorials/5ch.html">Supervision Principles</a></li>
                    <li><a href="/tutorials/6ch.html">Advanced Managed Processes</a></li>
                    <li><a href="/tutorials/tutorial-NT2.html">Programming with Network.Transport</a></li>
                  </ul>
              </li>
              <!-- <li {% if page.url == "/faq.html" %}class="active"{% endif %}><a href="/faq.html">FAQ</a></li> -->
              <li {% if page.url == "/contact.html" %}class="active"{%endif %}><a href="/contact.html">Contact</a></li>
              <li class="dropdown">
                <a href="http://www.haskell.org/haskellwiki/Cloud_Haskell" class="dropdown-toggle" data-toggle="dropdown">
                   Resources
                   <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                   <li><a href="/wiki.html">Wiki</a></li>
                   <li><a href="http://www.haskell.org/haskellwiki/Cloud_Haskell">CH on haskell.org</a></li>
                   <li><a href="https://github.com/haskell-distributed">Github Repositories</a></li>
                   <li><a href="https://cloud-haskell.atlassian.net/secure/BrowseProjects.jspa#all">Issue Tracker</a></li>
                   <li><a href="/static/semantics.pdf">Formal Semantics</a></li>
                   <li><a href="http://www.well-typed.com/blog/">Well-Typed Blog</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
