<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <style>
      body { padding-top: 0px; }
     .navbar-fixed-top { position: relative !important; }
    </style>
    <link href="/css/sidenav.css" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".sidebar"> <!-- data-offset-top="10">-->
    {% include nav.html %}
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="/changelog.html">ChangeLog</a> <span class="divider">/</span></li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="span3">
          <div data-spy="affix" data-offset-bottom="290">
            <ul class="nav nav-list sidenav">
              <li><a href="/changelog.html"><i class="icon-chevron-right"></i> ChangeLog Home</a></li>
              {% for page in site.pages | sort: 'title' %}
                  {% if page.url contains '/changelog/' %}
	             <li>
		       <a href="{{ page.feed_url }}"><i class="icon-chevron-right"></i> {{ page.title }}</a>
	               {{ page.output }}
		     </li>
                  {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>

<!--

all comments url
https://cloud-haskell.atlassian.net/sr/jira.issueviews:searchrequest-comments-rss/temp/SearchRequest.xml?jqlQuery=&tempMax=1000

--!>


