<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <style>
      body { padding-top: 0px; }
     .navbar-fixed-top { position: relative !important; }
    </style>
    <link href="/css/sidenav.css" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".sidebar"> <!-- data-offset-top="10">-->
    {% include nav.html %}
    <div class="container">
        <ul class="breadcrumb">
          <li><a href="/">Home</a> <span class="divider">/</span></li>
          <li><a href="#">Documentation</a> <span class="divider">/</span></li>
        </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="span3 sidebar">
          <div data-spy="affix" data-offset-bottom="290">
            <ul class="nav nav-list sidenav">
              <li><a href="#cloud-haskell-platform"><i class="icon-chevron-right"></i> Cloud Haskell Platform</a></li>
              <li><a href="#network-transport-abstraction_layer"><i class="icon-chevron-right"></i> Network Abstraction Layer</a></li>
              <li><a href="#concurrency-and-distribution"><i class="icon-chevron-right"></i> Concurrency and Distribution</a></li>
              <li><a href="#what-is-serializable"><i class="icon-chevron-right"></i> What is Serializable</a></li>
              <li><a href="#typed-channels"><i class="icon-chevron-right"></i> Typed Channels</a></li>
              <li><a href="#rethinking-the-task_layer"><i class="icon-chevron-right"></i> Rethinking the Task Layer</a></li>
           </ul>
          </div>
        </div>
        <div class="span9">
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>

