---
title: Cloud Haskell
---
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link href="/css/site.css" rel="stylesheet">
  </head>

  <body>
    {% include nav.html %}

    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="/img/back3.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Get Started</h1>
              <p class="lead">Learn how to build concurrent, distributed programs with Cloud Haskell</p>
              <a class="btn btn-large btn-primary" href="/tutorials/ch1.html">Learn more</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/img/back2.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Dive Deep</h1>
              <p class="lead">Explore to learn more about the platform</p>
              <a class="btn btn-large btn-primary" href="/wiki.html">Explore the Wiki</a>
              <a class="btn btn-large btn-primary" href="documentation.html">Read the docs</a>
              <a class="btn btn-large btn-primary" href="http://github.com/haskell-distributed">Browse the source</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/img/back1.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>Join the Community</h1>
              <p class="lead">Get started, get help, get involed</p>
              <a class="btn btn-large btn-primary" href="team.html">Meet the team</a>
              <a class="btn btn-large btn-primary" href="http://webchat.freenode.net/?channels=haskell-distributed&uio=d4">Visit us on IRC</a>
              <a class="btn btn-large btn-primary" href="https://cloud-haskell.atlassian.net/issues/?filter=10001">Raise an Issue</a>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
    <div class="container">
      {{ content }}
    </div>

    {% include footer.html %}
    {% include js.html %}
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel({ interval : 30000 })
        })
      }(window.jQuery)
    </script>
  </body>
</html>

