<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <style>
      body { padding-top: 0px; }
     .navbar-fixed-top { position: relative !important; }
    </style>
    <link href="/css/sidenav.css" rel="stylesheet">
  </head>
  <body data-spy="scroll" data-target=".sidebar"> <!-- data-offset-top="10">-->
    {% include nav.html %}
    <div class="container">
      <ul class="breadcrumb">
        <li><a href="/">Home</a> <span class="divider">/</span></li>
        <li><a href="#">Tutorial</a> <span class="divider">/</span></li>
      </ul>
    </div>
    <div class="container">
      <div class="row">
        <div class="span3 sidebar">
          <div data-spy="affix" data-offset-bottom="290">
            <ul class="nav nav-list sidenav">
              <li><a href="#create_a_node"><i class="icon-chevron-right"></i> Create a node</a></li>
              <li><a href="#send_messages"><i class="icon-chevron-right"></i> Send messages</a></li>
              <li><a href="#spawning_remote_processes"><i class="icon-chevron-right"></i> Spawning Remote Processes</a></li>
           </ul>
          </div>
        </div>
        <div class="span9">
          {{ content }}
        </div>
      </div>
    </div>
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>

