body {
/*  padding: 40px 20px; */
  color: #555;
  text-shadow: 0 1px 0 #fff;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eee), color-stop(25%, #fff), to(#fff));
  background-image: -webkit-linear-gradient(#eee, #fff 25%, #fff);
  background-image: -moz-linear-gradient(top, #eee, #fff 25%, #fff);
  background-image: -ms-linear-gradient(#eee, #fff 25%, #fff);
  background-image: -o-linear-gradient(#eee, #fff 25%, #fff);
  background-image: linear-gradient(#eee, #fff 25%, #fff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: auto;
}

h3 {
  padding-top: 40px;

}
